:root {
  /* Colores */
  --title-color: #121f26;
  --text-color: #676f73;
  --white-color: #ffffff;
  --dust-color: #b6886a;
  --bone-color: #e5dad0;
  --cinnamon-color: #b29a89;
  --gray-color: #504f4c;
  --green-color: #a9b4a4;

  /* Fuentes */


  /* Anchura m�xima del contenido en desktop */
  --max-width: 1200px;

  /* Tama�os */
  --header-height: 3rem;
  --section-spacing: 4rem;
  --block-spacing: 2rem;
  --body-line-height: 1.6;
  --title-line-height: 1.3;

  /* Tama�os de fuentes */
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --big-font-size: 1rem;
  --normal-font-size: 0.875rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.6875rem;
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: roboto, sans-serif;
}

body {
  min-height: calc(100vh - var(--header-height));
  min-width: 320px;
  font-size: var(--normal-font-size);
  line-height: var(--body-line-height);
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  line-height: var(--title-line-height);
  font-weight: 800;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}


