.home-content {
  flex-direction: column;
}

.nav-home {
  background-color: #3b345a;
  padding: 1rem 0.5rem;
  .max-content{
    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      a {
        margin-left: 1rem;
        color: #e6e4f3;
        font-size:var(--big-font-size)
      }
  
      .search {
        button {
          margin-left:.1rem;
        }
      }
    }
  }
}

.card-filter {
  display: flex;
  flex-wrap: wrap;
  max-height: 150px;
  justify-content: center;
  background-color: #eee;
  margin: 0% 20%;
  button, select {
    margin-bottom: 1rem;
    text-align: center;
  }
}


.principal-container {
  margin: 0% 20%;
  .recipes-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
}
